
*{
    font-family: 'Audiowide';
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
p{
    font-weight: 300;
    color:hsl(0, 0%, 100%);
    text-align: center;
    font-family: 'Audiowide';
    font-family: 'Passions Conflict' ;
    font-size: 30px;
}
body{
    min-height: 1000px;
}
.banner{
    position: relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(a.jpg);
    background-position: center;
    background-size: cover;

}
.banner .content
{
    max-width: 900px;
    text-align: center;

}
.btn{
    font-size: 1em;
    color: azure;
    background: #ff0055;
    display: inline-block;
    padding: 10px 30px;
    margin-top:20px ;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header .sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}
header .sticky .logo{
    color: #111;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
} 
header .navigation li a{
    text-decoration: none;
    color:aliceblue;
}
@media(max-width:700px){
    .btn{
        font-size: 1em;
        color: azure;
        background: #ff0055;
        display: inline-block;
        padding: 10px 30px;
        margin-top:20px ;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        border-radius: 10px;
        transition: 0.5s;
    }
    .btn:hover
    {
        letter-spacing: 6px;
    }
}